<% if line_item == @current_item %>
<tr id="current_item" class="item_row" >
<% else %>
<tr class="item_row">
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to '&times;'.html_safe, line_item, method: :delete, remote: true %></td>
</tr>

